.sub {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}

::-webkit-scrollbar{
    background: transparent; 
}


@media(min-width:500px) and (max-height:399px){
    .sub {
        width: 450px;
        height: 300px;
    }
}

@media(min-width:500px) and (min-height:400px){
    .sub {
        width: 550px;
        height: 300px;
    }
}

@media(min-width:1000px) and (min-height:700px){
    .sub {
        width: 800px;
        height: 550px;
    }
}